rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;  // Allow public read access
      allow write: if request.auth != null && 
                  (request.origin.matches('https://dykai-wed.github.io') || 
                   request.origin.matches('http://localhost:5000'));  // Allow writes from GitHub Pages and localhost
    }
  }
}
